<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Contact</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  </head>

  <body id='contact'>

    <div class="container">
      <div class="section">
        <h1 class="title"> Contact form </h1>
       
       <form id="contact-form">
          <div class="input-field col s12">   
            <select v-model="selected" class="icons"> 
              <option value="" disabled selected>Choose your company</option>
              <option data-icon="{{ company.src }}" class="circle" v-for="company in companies" value="{{ company.Email }}"> {{ company.Name }} </option>
            </select>
          </div>
        </form>
        
        </br></br></br></br>

        <h3> Email: {{ selected }}</h3>

      </div>
    </div> 

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script src="js/vue.js"></script>
  <script src="js/components/contact.js"></script>

  </body>
</html>
